 @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
 @import url('https://fonts.googleapis.com/css?family=VT323');

body {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1rem;
	line-height: 1.5;
	background: #222;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'VT323', monospace;
}